*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    overflow: hidden;
}
section
{
    display: flex;
    position:absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom, rgba(238, 73, 164, 0.836),rgb(228, 195, 195));
*/
}
section .color
{
    position: absolute;
    filter: blur(120px);
}
section .color:nth-child(1)
{
    top: 0px;
    width: 600px;
    height: 600px;
    background: rgba(236, 5, 124, 0.984);
}
section .color:nth-child(2)
{
    bottom: -150px;
    left: 100px;q
    width: 600px;
    height: 600px;
    background: rgba(248, 236, 12, 0.971);
}
section .color:nth-child(3)
{
    bottom:  150px;
    right: 100px;
    width: 400px;
    height: 400px;
    background: rgba(10, 73, 248, 0.938);
}
.box
{
    position: relative;
}
.box .square
{
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0,0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}
.box .square:nth-child(1)
{
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}
.box .square:nth-child(2)
{
    bottom: 70px;
    left: -130px;
    width: 150px;
    height: 150px;
}
.container
{
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    border-radius: 10px;
    justify-content: center ;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0,0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);

}
.form
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.form h2
{
   position: relative;
   color: #fff;
   font-size: 24px;
   font-weight: 600;
   letter-spacing: 1px;
   margin-bottom: 40px;
}
.form h2::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}
.form .inputbox
{
    width: 100%;
    margin-top: 20px;
}
.form .inputbox input
{
    width: 100%;
    background:  rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff; 
}
.forget
{
    color: #666;
    font-weight: 400;

}